# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CSCI2110\A4_2110\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
